.banner__description {
  top: 0;

  font-family: "ALSGorizont", "Arial", sans-serif;
  font-weight: bold;
}

.banner__brand {
  margin: 0;

  font-family: "Montserrat", "Arial", sans-serif;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  opacity: 0.4;
}

.banner__model {
  margin: 0;

  font-size: 42.1053px;
  line-height: 42px;

  color: #2858ff;
}

.banner__type {
  margin: 0;

  font-size: 11.8421px;
  line-height: 12px;

  color: #2858ff;
  opacity: 0.54;
}
