.calculator {
  padding: 16px;

  background: linear-gradient(180deg, rgba(181, 188, 205, 0.5) 0%, rgba(212, 216, 226, 0.5) 100%);
  backdrop-filter: blur(15px);

  border-radius: 16px;
}

.calculator__fields {
  margin: 0;
  margin-bottom: 16px;
}

.calculator__annotation {
  font-family: "Montserrat", "Arial", sans-serif;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;

  letter-spacing: -0.02em;
  color: #2a324a;
  opacity: 0.4;
}
