.contacts {
  display: flex;
  justify-content: space-between;
  padding: 17px 16px;
  padding-bottom: 12px;

  font-family: "Montserrat", "Arial", sans-serif;
  font-size: 13px;
  color: #040628;
  opacity: 0.6;

  border-bottom: 1px solid rgba(4, 6, 40, 0.38);
}

.contacts__city {
  font-weight: 600;
  line-height: 15.6px;
}

.contacts__tel {
  font-weight: 500;
  line-height: 14.3px;
}
